#select-row{
    
    clip-path: polygon(0% 50%, 28.285% 21.715%, 38.891% 32.3216%,28.285% 42.5%,71.715% 42.5%, 61.109% 32.3216%, 71.715% 21.715%, 100% 50%, 71.715% 78.285%, 61.109%  67.6784%, 71.715% 57.5%, 28.285% 57.5%, 38.891% 67.6784%, 28.285% 78.285%, 0% 50% );
    





    








   
}

#select-column{
   
    clip-path: polygon(0% 50%, 28.285% 21.715%, 38.891% 32.3216%,28.285% 42.5%,71.715% 42.5%, 61.109% 32.3216%, 71.715% 21.715%, 100% 50%, 71.715% 78.285%, 61.109%  67.6784%, 71.715% 57.5%, 28.285% 57.5%, 38.891% 67.6784%, 28.285% 78.285% );
    
   
    
}

#single-select{
    
   
    clip-path:polygon(0% 40%, 30% 40%, 30% 30%, 40% 30%, 40% 0%, 60% 0%, 60% 30%, 70% 30%, 70% 40%, 100% 40%, 100% 60%, 70% 60%, 70% 70%, 60% 70%, 60% 100%, 40% 100%, 40% 70%, 30% 70%, 30% 60%, 0% 60%);
   
}

#select-all{
    clip-path: polygon(0% 0%, 40% 0%, 40% 15%, 27.5% 15%, 50% 37.5%, 72.5% 15%, 60% 15%, 60% 0%, 100% 0%, 100% 40%, 85% 40%, 85% 27.5%, 62.5% 50%, 85% 72.5%, 85% 60%, 100% 60%, 100% 100%, 60% 100%, 60% 85%, 72.5% 85%, 50% 62.5%, 27.5% 85%, 40% 85%, 40% 100%, 0% 100%, 0% 60%, 15% 60%, 15% 72.5%, 37.5% 50%, 15% 27.5%, 15% 40%, 0% 40%);
   
}

#diagonal-up{
    
    clip-path: polygon(0% 0%, 40% 0%, 40% 15%, 27.5% 15%, 50% 37.5%, 85% 72.5%, 85% 60%, 100% 60%, 100% 100%, 60% 100%, 60% 85%, 72.5% 85%,  15% 27.5%, 15% 40%, 0% 40%);
  
    
}

#diagonal-down{
    
    clip-path: polygon(0% 0%, 40% 0%, 40% 15%, 27.5% 15%, 50% 37.5%, 85% 72.5%, 85% 60%, 100% 60%, 100% 100%, 60% 100%, 60% 85%, 72.5% 85%,  15% 27.5%, 15% 40%, 0% 40%);
  
    
}

#reset-all{
    clip-path: polygon(0% 10.6066%, 10.6066% 0%, 50% 37.5%, 89.3934% 0%, 100% 10.6066%, 62.5% 50%, 100% 89.3934%, 89.3934% 100%, 50% 62.5%, 10.6066% 100%, 0% 89.3934%, 37.5% 50%);
   
}