body {background-color:black;}

h1,h2{
    
    color:white;
    text-align: center;
}

#color-select-menu{
    width:50%;
    margin-left:auto;
    margin-right:auto;
    display: flex;
    justify-content: space-evenly;
}

.color-select{
    height: 55px;
    width:55px;
    border-radius:10px;
    border: 5px solid white;
    background-color: blue;

}